.Wrapper{
  display: flex;
  flex-direction: column;
}
.bottomWrapper{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.Logout{
  background: #EBE9E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 125px;
  height: 41px;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #B1664E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: flex-end;
  margin: 24px 33px 0 0;
}
