.wrapperInput{
  width: 301px;
  height: 89px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.Input{
  background: #E8E8E8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 208px;
  height: 24px;
  font-family: Roboto Mono;
  font-style: italic;
  font-size: 13px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.25);
}
.upper_text{
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #5F5E5E;
}
