.NavBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EBE9E9;
  width: 226px;
}
.wrapperLink{
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: auto;
}
.Link{
  display: flex;
  align-items: center;
  width: 195px;
  height: 39px;
  margin: 0 15px;
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  list-style: none;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 9px;
  margin-top: 17px;
}
.cabinet{
  margin-top: 6px;
  display: flex;
  justify-content: center;
  width: 195px;
  height: 62px;
  background: #EBE9E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabinetHeader{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  color: #E26D00;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newLink{
  text-decoration: none;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.active{
  opacity: 0.4;
}
