.Item:nth-child(2n+1){
  height: 56px;
  background: rgba(196, 196, 196, 0.7);
  border: 1px solid #000000;
  box-sizing: border-box;
}
.Item:nth-child(2n+1){
  height: 36px;
  background: rgba(196, 196, 196, 0.7);
  z-index: 0;
}
.Item_td{
  padding: 0 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
