.wrapperTable{
  height: 489px;
  display: flex;
  overflow-y: auto;
}
.wrapperTable::-webkit-scrollbar {
  background: #C4C4C4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 8px;
  height: 489px;
}
.wrapperTable::-webkit-scrollbar-thumb{
  background: #F7F2F2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 6px;
  height: 84px;
}
.Table{
  width: 100%;;
  box-sizing: border-box;
  border: 1px solid black;
  border-collapse: collapse;
  margin-right: 5px;
}

.item_th{
  padding: 0 5px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.item_tr{
  height: 56px;
  background: rgba(196, 196, 196, 0.7);
  border: 1px solid #000000;
  box-sizing: border-box;
}
