.Wrapper{
  background-image: url(./background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  background-position: top;
}
.Form{
  background: rgba(196, 196, 196, 0.45);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 591px;
  height: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header{
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF
}
.Input{
  margin-top: 10px;
  background: #DADADA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 75%;
  height: 39px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #838383;
  padding-left: 16px;
  outline: none;
}
.Label{
  display: none;
  margin-top: 10px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: red;
}
.ActiveLable{
  display: block;
}
.Sub{
  background: rgba(232, 152, 94, 0.53);
  width: 141px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #F27400;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  border: 0;
  margin: 30px 0 39px 0;
}
